*,
*::before,
*::after {

  box-sizing: border-box;
}

body {

  width: 100vw;
  min-height: 100vh; 
  margin: 0px 0px 0px 0px;
  font-family:Raleway, sans-serif;
  overflow-x:hidden; 
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
blockquote {

  margin: 0;
  padding: 0;
}

a {

  color: inherit;
  text-underline-offset: 4px;

}

img {

  width: 100%;
}

button {

  font: inherit;
}
